@charset "UTF-8";
.cuerpo {
  background-color: #fdf2e4; }
  .cuerpo header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px; }
    .cuerpo header nav ul {
      list-style: none; }
      .cuerpo header nav ul li {
        display: inline-block;
        margin: 5px 5px 5px 5px;
        padding: 10px;
        border: double 3px red;
        box-shadow: 2px 2px black; }
  .cuerpo .cajaDos div .nos {
    display: flex;
    margin: 50px; }
  .cuerpo .cajaDos .nosotros {
    display: flex;
    margin: 50px; }
    .cuerpo .cajaDos .nosotros .carli {
      margin: 5px 5px 15px 15px;
      box-shadow: 2px 2px 2px 2px black; }
  .cuerpo .cajaDos div .servicios h3 {
    display: flex;
    margin: 25px;
    color: white; }
  .cuerpo .cajaDos .depilacion p {
    text-align: center;
    margin: 10px; }
  .cuerpo .cajaDos .depilacion h4 {
    text-align: center;
    margin: 25px;
    padding: 15px;
    background-color: tan;
    color: white; }
  .cuerpo .cajaDos .imgdepi {
    display: flex;
    justify-content: center;
    gap: 10px; }
  .cuerpo .cajaDos .manicuria h4 {
    text-align: center;
    margin: 25px;
    padding: 15px;
    background-color: tan;
    color: white; }
  .cuerpo .cajaDos .manicuria p {
    text-align: center;
    margin: 10px;
    margin: 25px; }
  .cuerpo .cajaDos .imgUñas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px; }
  .cuerpo footer {
    background-color: tan;
    padding: 27px;
    justify-content: center; }
  .cuerpo .what .imgWhat {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 25px; }
